body{
  background-image: url(/Img/hatsune-miku-4k-vocaloid-characters-blue-background-artwork.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  /* I know, I know... */
}
#main_part{
  /*C! Always use classes when is possible, avoid using ID every time that it is possible */
  
}